* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f7f7f7;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

/*===== HEADER =====*/

.header {
    background: #111;
    color: white;
    padding: 15px 20px;
}

.logo {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-link {
    color: white;
    font-size: 0.9rem;
}

.nav-link :hover {
    color: 1e90ff;
}

/*==== HERO SECTION =====*/
.hero {
    padding: 60px 20px;
    text-align: center;
    background: white;
}

.hero h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.hero-subtitle {
    color: #666;
    margin-bottom: 20px;
}

.hero img {
    border-radius: 50%;
    margin: auto;
    border: 5px solid #eee;
}

/*===== CONTENT SECTION ====*/
section {
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
}

section h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.about p {
    margin-bottom: 10px;
}

/*===== CONTACT FORM =====*/
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
}

textarea {
    resize: vertical;
}

.form-help {
    font-size: 0.8rem;
    color: #777;
}

.required {
    color: red;
}

.optional {
    color: #777;
}

/*====== BUTTON =====*/
.form-action {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

.btn-primary {
    background: #1e90ff;
    color: white;
}

.btn-primary:hover {
    background: #1877d4;
}

.btn-secondary {
    background: #ddd;
}

.btn-secondary:hover {
    background: #ccc;
}

/*===== FOOTER =====*/
.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 25px 20px;
}

.social-links a {
    color: white;
    font-size: 0.9rem;
}

.social-links a:hover {
    color: #1e90ff;
}

/* ===== PROJECT SECTION ===== */

.project h2{
    margin-bottom:40px;
    }
    
    .project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
    }
    
    .project-card{
    background:#f1f1f1;
    overflow: hidden;
    padding:25px;
    border-radius:18px;
    position: relative;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
    }
    
    .project-top{
    display:flex;
    justify-content:space-between;
    margin-bottom:10px;
    font-size:14px;
    }
    
    .tag{
    background:#ddd;
    padding:5px 12px;
    border-radius:20px;
    font-weight:600;
    }
    
    .type{
    color:#777;
    }
    
    .project-card h3{
    margin:10px 0;
    font-size:20px;
    }
    
    .project-card p{
    color:#555;
    margin-bottom:15px;
    }
    
    .skills span{
    background:#e6e6e6;
    padding:6px 10px;
    border-radius:15px;
    font-size:13px;
    }
    
    .project-buttons{
    display:flex;
    gap:10px;
    }
    
    .btn-outline{
        display:inline-block;
        border:1px solid #999;
        padding:6px 12px;
        border-radius:6px;
        color:#333;
        font-size:0.85rem;
        text-align:center;
        }


/*===== TABLE RESPONSIVE ====*/
@media (min-width:768px) {

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-bottom: 0;
}

.nav-list {
    flex-direction: row;
    gap: 20px;
}

/* HERO LAYOUT */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: left;
}

.hero img {
    width: 250px;
}

}

/*====== DESKTOP RESPONSIVE =====*/
@media (min-width:1024px) {

body {
    font-size: 18px;
}

.hero h1 {
    font-size: 2.5rem;
}

.skills-list {
    columns: 2;
}

section {
    padding: 70px 20px;
}

}

/*====== LARGE DESKSTOP ====*/
@media (min-width:1200px) {

.hero {
    gap: 60px;
}

.hero img {
    width: 300px;
}

}